.pageShiftAnimation-enter {
    opacity: 0.01;
  }

.pageShiftAnimation-enter.pageShiftAnimation-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
  }

.pageShiftAnimation-exit {
    opacity: 0.1;
  }


  .pageShiftAnimation-exit.pageShiftAnimation-exit-active {
    opacity: 0;
    transition: 300ms;
  }

