.pageShiftAnimation-enter {
    opacity: 0.01;
  }

=.pageShiftAnimation-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
  }

.pageShiftAnimation-exit {
    opacity: 1;
  }


.pageShiftAnimation-exit-active {
    opacity: 0.01;
    transition: 300ms;
  }

.transitionGroup {
  position: relative;
}