body {
  margin:0px;
}

.fade-enter {
    opacity: 0.01;
    z-index: 1;
  }

.fade-enter-active {
    opacity: 1;
    transition: 200ms ease-in;
  }

.fade-exit {
    opacity: 1;
  }


.fade-exit-active {
    opacity: 0.01;
    transition: 200ms ease-in;
  }

.transitionGroup {
  position: relative;
}