.pageShiftAnimation-enter {
    opacity: 0.01;
  }

.pageShiftAnimation-enter-active {
    opacity: 1;
    transition: 300ms;
  }

.pageShiftAnimation-exit {
    opacity: 0.1;
  }


.pageShiftAnimation-exit-active {
    opacity: 0;
    transition: 300ms;
  }

