
.loginPage {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;

    p {
        font-size: 42px;
        font-weight: bold;
    }

    input {
        font-size: 42px;
        font-weight: bold;
        width: 100%;
        border: none;
        border-bottom: 2px black solid;
        outline: none;
    }
}