$backgroundImage: (
  '../img/background1.jpeg','../img/background2.jpeg','../img/background3.jpeg','../img/background4.jpeg','../img/background5.jpeg'
);

$randomImage: nth($backgroundImage, random(length($backgroundImage)));

.randomImage {
  background-image: url(../img/background1.jpeg);
  background-size:cover;
  background-position-y: -10px;
}