$backgroundImage: (
  '../img/background1.jpeg','../img/background2.jpeg','../img/background3.jpeg','../img/background4.jpeg','../img/background5.jpeg'
);

$randomImage: nth($backgroundImage, random(length($backgroundImage)));

body {
  background-image: url($randomImage));
  background-size:cover;
  background-repeat: no-repeat;
}